* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 59px;
    background-color: #369;
}

.header .title {
    line-height: 59px;
    color: white;
    font-weight: lighter;
    margin-left: 20px;
    font-size: 18px;
}

.left_region {
    margin-top: 10px;
}

.info {
    margin-top: 10px;
    color: darkgray;

}

h5 a {
    color: #105cb6;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}