{% extends 'backend/base.html' %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        {#        <div class="add_article">#}
        <div class="alert-success text-center">添加分类</div>

        <div class="form-group" style="height: 40px"></div>

        {#        </div>#}
        <div class="form-group" style="position: relative">
            <label for="inputcate" class="col-sm-2 control-label">分类标题</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputcate">
            </div>
            <span style="position: absolute;left: 390px;top: 10px;color: red" id="cate_span"></span>
        </div>
        <div class="form-group" style="height: 40px"></div>
        {#        <div class="form-group">#}
        {#            <label for="inputblog" class="col-sm-2 control-label">所属博客</label>#}
        {#            <div class="col-xs-4">#}
        {#                <select class="form-control" id="inputblog">#}
        {#                    <option>1</option>#}
        {#                    <option>2</option>#}
        {#                    <option>3</option>#}
        {#                    <option>4</option>#}
        {#                    <option>5</option>#}
        {#                </select>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="form-group" style="height: 40px"></div>#}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-success" id="sub">添加</button>
            </div>
        </div>


    </form>
    {% csrf_token %}
    <script>
        $("#sub").click(function () {
            var cate_val = $("#inputcate").val();
            var csrf = $("[name=csrfmiddlewaretoken]").val();
            if (cate_val.length == 0) {
                console.log(11);
                $("#cate_span").text("分类名不能为空!");
            } else {
                console.log(22);
                $("#cate_span").text("");
                $.ajax({
                    url: "",
                    type: "post",
                    data: {
                        cate: cate_val,
                        csrfmiddlewaretoken: csrf,
                    },
                    success: function (data) {
                        {#var data = JSON.parse(data);  //反序列化书局#}
                        if (data.state) { //判断json的状态
                            swal({
                                title: '添加成功',
                                type: 'success',  //展示成功的图片
                                timer: 500,  //延时500毫秒
                                showConfirmButton: false  //关闭确认框
                            }, function () {
                                window.location.href = "/backend/";  //跳转后台首页
                            });
                        } else {
                            swal("添加失败！", data.msg,
                                "error");
                            {#window.location = "/backend/add_category/";#}
                        }
                    }

                });

            }

        })
    </script>


{% endblock %}